logs/
crash-reports/
saves/
downloads/
moddata/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
.fabric/
.cache/
.replay_cache/
replay_recordings/
.curseclient
data/fabricDefaultResourcePacks.dat
command_history.txt
usercache.json
usernamecache.json
user-prefs.json
XaeroWaypoints_BACKUP240807/
pfm/pfmCacheData.json
